:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/Archivo-Regular.ttf');
}

@font-face {
    font-family: 'ArchivoRegular';
    src: url('../assets/fonts/Archivo-Regular.ttf');
}

@font-face {
    font-family: 'ArchivoBold';
    src: url('../assets/fonts/Archivo-Bold.ttf');
}

@font-face {
    font-family: 'ArchivoItalic';
    src: url('../assets/fonts/Archivo-Italic.ttf');
}

@font-face {
    font-family: 'ArchivoLight';
    src: url('../assets/fonts/Archivo-Light.ttf');
}

@font-face {
    font-family: 'ArchivoMedium';
    src: url('../assets/fonts/Archivo-Medium.ttf');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: url("../assets/background.svg");
  font-family: 'Archivo', sans-serif;
}
