.dashboard {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-aside {
    width: 15%;
    height: 100%;
}

.hero {
    width: 80%;
    height: 100%;
}

