.dashboard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #fff;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex: 1;
}

.dashboard-aside {
    width: 15%;
}

.hero {
    width: 85%;
}

