.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.aside-content {
    gap: 0;
    padding: 0;
    margin: 0;
}

.aside-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.aside-content ul li {
    padding: 0;
    margin: 0;
    padding: 5px;
}

.aside-content ul li a {
    text-decoration: none;
    color: #000;
}

.aside-content ul li a:hover {

}
img {
    padding-right: 10px;
}

.bgAside {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.btnLogout {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}