.table {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.button-header {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

.title-header{
    display: flex;
    justify-content: left;
    width: 80%;
}

@media (max-width: 750px) {
    .paper {
        max-width: 40%;
    }
}
